<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Idea Projects/AutomationCRT">
        <classes>
            <class name="PageTest.HomePageTest">
                <methods>
                    <include name="checkElementsIsDisplay"/>
                </methods>
            </class>
            <class name="PageTest.SignUpPageTest">
                <methods>
                    <include name="checkSignUpElementsIsDisplay"/>
                    <include name="signUp"/>
                </methods>
            </class>
            <class name="PageTest.LoginPageTest">
                <methods>
                    <include name="checkElementIsSelecting"/>
                    <include name="checkElementsIsDisplay"/>
                    <include name="LogIn"/>
                </methods>
            </class>
            <class name="PageTest.ProfilePageTest">
                <methods>
                    <include name="checkProfileElementsIsDisplay"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>